<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />    
    </startup>
  <connectionStrings>
    <add name="BulkInvoice.Properties.Settings.cn" connectionString="Data Source=192.168.0.32;Initial Catalog=Securex Kenya LTD;Persist Security Info=True;User ID=sage;Password=securexsage#12"
      providerName="System.Data.SqlClient" />
    <add name="BulkInvoice.Properties.Settings.mysetting" connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=ESL_LTD;Persist Security Info=True;User ID=sa;Password=Kasarani17b"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>